<%- include('../partials/header') %>
  <main>
    <nav>
    <a href="/skills">Back</a></li>
    </nav>

    <hgroup>
      <h2>Project: <%= skill.project %></h2>
      <h3>Technologies Used: <strong><%= skill.tech %></strong></h3>
      <h3>Rating: <%= skill.lvl %></h3>
    </hgroup>

    <a href="/skills/<%= skill.id %>/edit">Edit Skill</a>
    
    <form action="/skills/<%= skill.id %>?_method=DELETE" method="POST" class="delete">
      <input class="delete" type="submit" value="Delete Skill"/>
    </form>

  </main>

<%- include('../partials/footer') %>